@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/*Personal Solution Below*/

body {
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.footer {
  background-color: #eeeeee;
}

.content {
  flex: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.content .input {
  align-self: center;
  display: flex;
  align-items: flex-end;
}

.buttons {
  align-self: center;
}

.buttons button {
  padding: 10px 12px;
  font-size: 13px;
}

/*Remove default styles of unordered lists*/
ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
}

/*vv Removes default styles of links vv*/
a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #4e4e4e;
}
