.header {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  gap: 2px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  border: 2px red solid;
  align-self: center;
}

.left-links ul {
  display: flex;
  align-items: end;
}

.right-links ul {
  display: flex;
  justify-self: end;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  border: 2px solid red;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}
